* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

#frontpage {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(30, 30, 40),
    rgb(30, 30, 35) 100%
  );
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: -1;
}
#frontpage h1 {
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
}

.color--red {
  margin-left: 10px;
  color: rgb(164, 250, 238);
}

#intro {
  font-size: 100%;
  z-index: 1;
  display: block;
}
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
#mywork {
  margin: 20px auto auto auto;
  padding: 2px 15px;
  background-color: transparent;
  outline: 2px solid white;
  border: none;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.35s;
}

#mywork p {
  padding-right: 10px;
  justify-content: center;
}

#mywork i {
  font-size: 20px;
}
#workarrow {
  color: white;
  transition: ease-in-out 0.35s;
  transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
}

#mywork p {
  color: white;
  font-size: 30px;
}

#mywork:hover {
  background: darkcyan;
  outline: 2px solid aqua;
  filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.459));
  cursor: pointer;
  color: black;
}

nav {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgb(30, 30, 45);
  border-bottom: 3px solid lightslategray;
  z-index: 999;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
nav ul li {
  margin: 10px 0;
}

nav ul li a {
  font-weight: 1000;
  margin: 0px auto;
  color: white;
  font-size: 20px;
}

nav a:hover {
  color: rgb(29, 255, 225);
}

nav a:active {
  color: rgb(73, 183, 202);
}

#project__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0 auto;
  color: rgb(58, 58, 58);
}
#project-name {
  margin-top: 6rem;
}
#about-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0 auto;
  color: rgb(58, 58, 58);
}
#hamburger {
  margin: auto;
  width: 25px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
footer {
  height: 10rem;
  background: rgb(30, 30, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 15px;
  position: relative;
  color: white;
  border-top: 2px solid rgb(21, 21, 31);
  z-index: 4;
}
footer p {
  position: absolute;
  top: 80%;
}

#top {
  position: absolute;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background: rgb(53, 53, 80);
  width: 2rem;
  height: 2rem;
  top: -15px;
  border-radius: 20%;
  color: aqua;
  z-index: 5;
  font-size: 20px;
}

#top:hover {
  background: rgb(64, 64, 95);
}
#contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

.underbar {
  width: 8rem;
  height: 3px;
  margin-top: 10px;
  background-color: white;
}

.underbar2 {
  width: 8rem;
  height: 3px;
  margin-top: 10px;
  background-color: rgb(58, 58, 58);
}

#contact__form p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

#input-message {
  resize: none;
  height: 150px;
  border: 1px solid rgba(0, 255, 255, 0.308);
}

#form__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: 20px;
}

#form__container input {
  border: 1px solid rgba(0, 255, 255, 0.308);
}

.contactinfo {
  padding: 5px;
  margin: 0 0 5px 0;
  background-color: rgb(32, 32, 44);
  text-decoration: none;
  border-style: none;
  outline: none;
  font-size: 20px;
  color: white;
  width: 100%;
}
footer a:hover {
  background: rgb(64, 64, 95);
  filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.459));
}

footer ul a {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  margin: 20px 30px;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  background: rgb(43, 43, 65);
  color: rgb(43, 223, 255);
  font-size: 20px;
}

.submit__button {
  background: rgb(43, 43, 65);
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  justify-self: right;
  margin-left: auto;
  color: rgb(43, 223, 255);
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: flex;
}
.submit__button:hover {
  background: rgb(64, 64, 95);
  filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.459));
  cursor: pointer;
}

.submit__button:active {
  background: rgb(34, 144, 148);
}
#contact__container {
  width: 100%;
  height: 100%;
  background: rgb(40, 40, 54);
  color: black;
}

.project-names {
  font-size: 50px;
  color: white;
  z-index: 1;
  height: 0px;
}

.project-background {
  background-image: url("../images/test.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70%;
  width: 102%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  opacity: 90%;
  border-radius: 10px 10px 0 0;
}

.project:hover {
  filter: drop-shadow(0 0px 15px rgb(0, 0, 0));
  cursor: pointer;
}

.project {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  width: 30rem;
  height: 20rem;
  margin: 10px;
  background: rgb(40, 40, 54);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.856));
  border-radius: 10px;
}

.projects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: top;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-basis: 100%;
  width: 100%;
  margin: 2rem;
}

.bar {
  position: relative;
  margin: 20% 0;
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  transition: all 0.2s ease;
}
#hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}

#hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}

@media screen and (max-width: 670px) {
  #background {
    box-sizing: border-box;
    background-clip: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #form__container {
    width: 80%;
  }
  .contactinfo {
    font-size: 15px;
  }

  #intro {
    display: flex;
    font-size: 90%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  nav {
    display: inline-flex;
    flex-direction: column;
  }
  #hamburger {
    display: list-item;
    height: 100%;
    margin: 10px 10px 0 auto;
    position: absolute;
    top: 0;
    left: 90%;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .menu {
    text-align: center;
    background: rgb(30, 30, 45);
    transform-origin: top;
    margin: 0;
    padding: 20px 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .menu a {
    padding: 10px;
  }
  .menu.hide {
    transform: scaleY(0);
  }

  #intro.focus {
    display: none;
  }

  .project {
    width: 30rem;
    height: 20rem;
  }

  footer ul a {
    margin: 20px 5px;
  }
}

@media screen and (max-width: 450px) {
  .project {
    width: 30rem;
    height: 10rem;
  }
}

#mywork:hover {
  animation: spinarrow 0.5s;
}
